{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
        <h>
            This is HomePage
        </h>
        <h>
            Hi Welcome Back {{user.username}}
        </h>
        <p><a href="{% url 'logout' %}">logout</a></p>
        <input type="button" id='received_message_button' value="Try Received {{user.username}}">
        <p> message </p><input type="text" id='message_box' value="">
        <p> receivers </p><input type="text" id='receiver_box' value="">
        <input type="button" id='send_message_button' value="Try Received {{user.username}}">

        <div id="received_message_panel">
        </div>
{% endblock %}
{% block js%}
    <script src="{%static 'js/main_page.js' %}"> </script>
{% endblock %}
